# This file is part of REANA.
# Copyright (C) 2017, 2018, 2019, 2020, 2021, 2024 CERN.
#
# REANA is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include *.json
include *.md
include *.sh
include *.txt
include *.yaml
include .dockerignore
include .flake8
include Dockerfile
include LICENSE
include pytest.ini
include docs/*.json
include docs/requirements.txt
recursive-include reana_server *.py
recursive-include reana_server *.json
recursive-include reana_server/templates *.txt
prune docs/_build
recursive-include docs *.py
recursive-include docs *.png
recursive-include docs *.md
recursive-include scripts *.py
recursive-include scripts *.sh
recursive-include tests *.py
recursive-include tests *.txt
global-exclude *.py[co] .DS_Store
exclude .readthedocs.yaml
