# This file is part of REANA.
# Copyright (C) 2017, 2018 CERN.
#
# REANA is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include LICENSE
include *.rst
include *.sh
include *.txt
include pytest.ini
include docs/*.json
include scripts/*.py
include docs/requirements.txt
include Dockerfile
include .dockerignore
recursive-include reana_server *.py
recursive-include reana_server *.json
prune docs/_build
recursive-include docs *.py
recursive-include docs *.png
recursive-include docs *.rst
recursive-include tests *.py
recursive-include tests *.txt
global-exclude *.py[co] .DS_Store
